$credit-height: 3rem;
$credit-font-height: 1.25rem;
$title-font-size: 4rem;
$header-height: 8rem; 


$tab-height: 3rem;
$tab-font-size: 1.25rem;

$footer-font-size: 1.2rem;
$footer-height: 5rem;
$max-button-width: 20rem;

$subheader-height: 2rem;

$text-area-height: 1rem;
.App {
  text-align: center;
  height: 100%;
  background-color: #f4f4f4;
  overflow: hidden;
}
html, body {
  height: 100%;
}
.creditSection {
  height: $credit-height;
  font-size: $credit-font-height;
  line-height: $credit-height;
  color: white;
  border-bottom: 1px solid #f4f4f4;
  background-color: black;
  text-align: center;
  padding-left: 2rem;
}
.titleSection {
  height: $header-height;
  font-size: $title-font-size;
  line-height: $header-height;
  color: black;
  border-bottom: 1px solid #f4f4f4;
  background-color: white;
  text-align: center;
}

button {
  background-color: unset;
  border: unset;
}

.container {
  display: flex; /* displays flex-items (children) inline */
  flex-direction: column; /* stacks them vertically */
  height: calc(100% - $header-height - $credit-height); /* needs to take the parents height, alternative: body {display: flex} */
}

.pageContent {
  flex: 1; /* takes the remaining height of the "container" div */
  overflow: auto; /* to scroll just the "main" div */
}

.tabSection{
  height: $tab-height;
  background-color: white;
  padding-left: 2rem;
  border-bottom: 1px solid #f4f4f4;
  display: flex;
}

.tab {
  border-bottom: 4px solid #e0e0e0;
  height: 100%;
  width: fit-content;
  text-align: center;
  line-height: $tab-height;
  font-size: $tab-font-size;
  padding: 0 2rem;
  box-sizing: border-box;
  margin-right: 0.1rem;
  &:hover {
    border-bottom: 4px solid #7c7c7c;
    cursor: pointer;

  }
  &.clicked {
    border-bottom: 4px solid #0354e9;
  }
  &.selected {

  }
}


.footerSection {
  height: $footer-height;
  display: flex;
  justify-content: right;
  border-top: 1px solid #e6e6e6;
  box-sizing: border-box;

  .button {
    height: $footer-height;
    width: fit-content;
    line-height: $footer-height;
    text-align: left;
    padding-left: 2rem;
    font-size: $footer-font-size;
    max-width: $max-button-width;
    width: 25%;
    min-width: fit-content;
    &.primary {
      background-color: #0062ff;
      color: white;
      &:hover {
        background-color: #0354e9;
        cursor: pointer;
      }
      &.disabled {
        background-color: #c6c6c6;
        color: #8d8d8d;
        cursor: not-allowed;
      }
    }
    &.secondary {
      background-color: black;
      color: white;
      &:hover {
        cursor: pointer;
      }
      &.disabled {
        background-color: #c6c6c6;
        color: #8d8d8d;
        border-right: 1px solid #8d8d8d;
        cursor: not-allowed;
      }
    }
  }
}





.textSectionContainer {
  display: flex;
  padding: 1.5rem 3rem 0 3rem;
  .textInputSection {
    width: 70%;
    margin-right: 1.5rem;
    overflow-wrap: break-word;
  }
  .textDescriptionContainer {
    width: 40%;
    margin-left: 1.5rem;
  }
  .textHeader {
    padding-bottom: 0.5rem;
    font-size: $subheader-height;
    text-align: left;
    
  }
  .textResultsSection {
    padding: 2rem 0 3rem 0;
  }
  .textDescription {
    color: grey;
    padding-bottom: 1rem;
    text-align: left;
  }
  .textArea {
    font: inherit;
    max-width: 100%;
    width: 100% !important;
    min-width: 100%;
    font-size: $text-area-height;
    height: 70%;
    min-height: $text-area-height;
    border: 1.5px solid black !important;
    border-radius: 0.25rem;
    
    &.invalid {
      box-shadow: none;
      resize: none;
      border: 1.5px solid red !important;
      &:focus-visible {
        outline-color: red;
      }
    }
  }
}

.redditSectionContainer {
  display: flex;
  padding: 1.5rem 3rem 0 3rem;
  .messageCheckboxLabel {
    padding-left: 0.5rem;
  }
  .redditInputSection {
    width: 70%;
    margin-right: 1.5rem;
    overflow-wrap: break-word;
  }
  .redditDescriptionContainer {
    width: 40%;
    margin-left: 1.5rem;
  }
  .redditHeader {
    padding-bottom: 0.5rem;
    font-size: $subheader-height;
    text-align: left;
    
  }

  .redditDescription {
    color: grey;
    padding-bottom: 1rem;
    text-align: left;
  }
  .redditInput {
    font: inherit;
    max-width: 100%;
    width: 100% !important;
    min-width: 100%;
    font-size: $text-area-height;
    height: $text-area-height + 1rem;
    border: 1.5px solid black !important;
    border-radius: 0.25rem;
    
    &.invalid {
      box-shadow: none;
      resize: none;
      border: 1.5px solid red !important;
      &:focus-visible {
        outline-color: red;
      }
    }
  }
  .messageUserContainer {
    padding-top: 1rem;
    text-align: left;
    padding-bottom: 2rem;
  }
}

.invalidInputMessage {
  padding-top: 0.5rem;
  color: red;
  font-size: 0.75rem;
  text-align: left !important;
}